<h1>Masters#top</h1>
<p>first show</p>
<p>Find me in app/views/masters/top.html.erb</p>


<a href="/masters/search">登録したマスターを検索</a> <br>
<a href="/masters/index">マスター一覧</a> <br>
<a href="/masters/edit">マスターを編集</a> <br>
<a href="/masters/new">マスターを登録 </a> <br> 